@font-face {
  font-family: PingFang_Bold; // 加粗
  src: url('~@/static/font/PingFang_Bold.ttf');
}

@font-face {
  font-family: PingFang_ExtraLight; // 超轻字体
  src: url('~@/static/font/PingFang_ExtraLight.ttf');
}

@font-face {
  font-family: PingFang_Heavy; // 浓重
  src: url('~@/static/font/PingFang_Heavy.ttf');
}

@font-face {
  font-family: PingFang_Light; // 轻薄
  src: url('~@/static/font/PingFang_Light.ttf');
}

@font-face {
  font-family: PingFang_Medium; // 中等
  src: url('~@/static/font/PingFang_Medium.ttf');
}

@font-face {
  font-family: PingFang_Regular; // 常规
  src: url('~@/static/font/PingFang_Regular.ttf');
}